<h2>Estadisticas</h2>

<img src="static/images/line_bar_chart.png" alt="" style="max-width: 1100px" />
<p>
  El
  <strong
    >Crecimiento Proyectado del Potencial Eólico en Colombia (2021-2030)</strong
  >
  refleja la transición energética que está llevando a cabo el país hacia
  fuentes de energía renovables. A medida que Colombia busca reducir su
  dependencia de los combustibles fósiles y alinearse con los compromisos
  ambientales globales, el desarrollo de proyectos eólicos se ha convertido en
  una de las principales prioridades.
</p>
<br />
<p>
  Este gráfico muestra cómo la capacidad instalada de energía eólica en el país
  crecerá significativamente, especialmente en la región Caribe. Los proyectos
  más destacados son:
</p>
<br />
<ul>
  <li><strong>2021:</strong> Capacidad instalada actual de 17.8 GW.</li>
  <li>
    <strong>2025:</strong> Proyecto en La Guajira, que elevará la capacidad a
    19.8 GW.
  </li>
  <li>
    <strong>2026:</strong> Expansión del parque eólico Caribe Norte, alcanzando
    20.3 GW.
  </li>
  <li>
    <strong>2028:</strong> Nuevas iniciativas en áreas no interconectadas,
    aumentando a 20.5 GW.
  </li>
  <li>
    <strong>2030:</strong> Proyección para la región Caribe, con una capacidad
    de 50 GW.
  </li>
</ul>
<br />
<p>
  Estos desarrollos son parte del compromiso de Colombia con la transición
  energética y la neutralidad de carbono, que tiene como meta alcanzarse para
  2050.
</p>
<br />
<hr />
<br />
<img src="static/images/area_chart.png" alt="" style="max-width: 1100px" />
<p>
  Este gráfico ilustra la evolución de la participación de las energías
  renovables en la matriz energética de Colombia entre 2010 y 2024. Se observa
  cómo la participación de las hidroeléctricas ha experimentado una leve
  disminución, pasando del <strong>85% al 81%</strong>. Mientras tanto, las
  energías solar y eólica han mostrado un rápido crecimiento, pasando del
  <strong>0% al 19% durante el mismo período.</strong>
</p>
<br />
<p>
  Este cambio refleja el avance en la transición energética de Colombia, en
  línea con los compromisos globales para la adopción de energías más limpias.
  La tendencia creciente de las energías solar y eólica es un indicador positivo
  del esfuerzo del país por diversificar su matriz energética y reducir su
  dependencia de fuentes convencionales como la hidroeléctrica.
</p>
<br />
<p>
  La energía solar y eólica están emergiendo como las principales alternativas
  renovables en el país, impulsando la transformación hacia una matriz
  energética más sostenible y diversificada.
</p>
<br />
<hr />
<br />
<img src="static/images/pie_chart.png" style="max-width: 1100px" />
<p>
  Este gráfico de torta muestra la
  <strong>Distribución de Energía Renovable en Colombia durante 2021</strong>,
  destacando la proporción de energía hidroeléctrica frente a otras fuentes de
  energía renovable. Como se observa, la
  <strong>energía hidroeléctrica</strong> representa una gran mayoría, con el
  <strong>81% de la matriz energética renovable</strong>, mientras que las otras
  energías renovables, como la
  <strong>solar y eólica, constituyen el 19%</strong>.
</p>
<br />

<p>
  Aunque la hidroeléctrica sigue siendo la fuente renovable dominante en
  Colombia, las <strong>energías renovables no convencionales</strong>, como la
  solar y la eólica, están comenzando a ganar terreno, como se refleja en el
  crecimiento constante de los últimos años. Este gráfico destaca la importancia
  de diversificar la matriz energética del país y seguir promoviendo el uso de
  fuentes renovables más allá de la hidroeléctrica.
</p>
<br />

<p>
    El desarrollo de nuevas fuentes renovables es crucial para el futuro
    energético del país, y este gráfico refleja el estado actual de la matriz
    energética renovable, donde la hidroeléctrica sigue siendo fundamental, pero
    las energías como la solar y la eólica están abriéndose paso en la
    diversificación.
</p>

<br />
<hr>
<br />
<h2>Más información sobre la energía renovable en Colombia</h2>
<p>
  Para obtener más detalles sobre los avances de Colombia en el ámbito de las
  energías renovables, visita los siguientes enlaces:
</p>
<br />

<ul>
  <li>
    <a href="https://www.minenergia.gov.co" target="_blank"
      >Ministerio de Minas y Energía de Colombia</a
    >
  </li>
  <li>
    <a href="https://www.wwindea.org" target="_blank"
      >Asociación Mundial de Energía Eólica (WWEA)</a
    >
  </li>
  <li>
    <a href="https://www.elespectador.com/economia/" target="_blank"
      >Noticias sobre Energías Renovables en Colombia - El Espectador</a
    >
  </li>
</ul>
